/*****************************************************

MAIN CSS
Skapad 2016-11-15

Denna CSS fil är en del av ett tentamens arbete
I HTML,CSS, Javascript & Webstandarder

 *** Lernia YHJUST16 ***

Skapad av Jesper Gullman

******************************************************/

/********************
GENERAL
********************/

.main-nav,
.nav-list{
  display: flex;
}

/********************
HEADER
********************/

header {
  background-color: #444;
  height: 80px;
}

.main-nav {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: none;
}


.main-logo img {
  height: 3em;
  margin-left: 1em;
}

.burger-button {
  height: 2.3em;
  margin-right: 1em;
}



/********************
PRESENTATION TOP
********************/

.presentation-top {
  display: flex;
  width: 100%;
}

.presentation-logo{
  display: flex;
  align-self: center;
  position: absolute;
  width: 70%;
  margin-left: calc(50% - 35%)  /* margin left beräknas 50% halva sidan minus halva width*/
}

.presentation-top .lion-bg {
  max-height: calc(100vh - 80px);
  width: 100%;
}

